    <div data-role="header">
        <h2>{{headerTitle}}</h2>
        <a href="#" data-icon="delete">Close</a>
    </div>
    <div data-role="content">
        {{{whatis this}}}
        {{> templatePartialPageID}}
    </div>
    <div data-role="footer">
        Footer
    </div>
