<select name="completed" class="toggle" data-role="slider">
    <option value="Todo" {{#if completed}}selected="selected"{{/if}}>Todo</option>
    <option value="Done" {{#if completed}}selected="selected"{{/if}}>Done</option>
</select>
<label name="todo_description">{{title}}</label>